/*=========================
CSS Variables
==========================*/
:root {
  --background-color: #042862; /* dark blue */
  --heading-color: #d2e7e8; /* powder blue */
  --border-color: #063c93; /* royal blue */
  --button-color-hover: #052c6c; /* blue */
  --data-color: #bcdbdc;
  --button-link-color: #1c98e5; /* light blue */
  --highlight-color: #f15641; /* light red */
  /*--bike-illustration-blue: #1884c7;*/
}

/*=========================
Main
==========================*/
body {
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--background-color, #042862);
  color: rgb(255,255,255);
  max-width: 900px;
  font-size: 120%;
  line-height: 1.3;
  font-family: 'Tajawal', sans-serif;
}

/* The title of the app */
h1 {
  color: var(--heading-color, #d2e7e8);
  padding: 0 0 10px 0;
  font-size: 150%;
  font-family: 'Chewy', cursive;
}

/* Bicycle id: */
h2 {
  color: var(--heading-color, #d2e7e8);
  font-size: 120%;
}

/* The headings on the results page */
h3 {
  color: var(--heading-color, #d2e7e8);
  font-size: 110%;
  margin-top: 30px;
  margin-bottom: -15px;
  border-bottom: 3px solid var(--border-button-color, #063c93);
}

/*=========================
Navigation
==========================*/
#topnav {
  display: flex;
  /*list-style-type: none;*/
  padding: 0;
  margin-top: -10px;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-size: 90%;
  cursor: pointer;
}

li.nav-item {
  display: flex;
  margin: 0px 15px 0px 0px;
  overflow: hidden;
}

li.nav-item:hover {
  color: var(--nav-hover, #f15641);
}

hr {
  border-top: 4px solid var(--border-button-color, #063c93);
  border-color: var(--border-button-color, #063c93);
}

/*==========================
Links
===========================*/
a {
  text-decoration: none;
  color: var(--button-link-color, #1c98e5);
}

a:hover {
  color: var(--heading-color, #d2e7e8);
}

a:active {
  color: var(--heading-color, #d2e7e8);
}

/*==========================
Buttons & Fields
===========================*/
.button {
  background-color: var(--nav-button-color, #1c98e5);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 10px 24px;
  margin: 10px 0px 20px 0px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: var(--border-color, #063c93);
}

input[type=number], select {
  font-size: 18px;
  /*width: 25%;*/
  padding: 10px 12px;
  margin: 3px 1px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 109px;
}

form {
  margin-top: -10px;
}

/* This class is added to the input if user chooses a bike without a ride history. */
.no-trips-bike-id {
  border: 3px solid var(--highlight-color, #f15641);
}

/* When user chooses a dud bike  */
.error_message {
  display: inline-block;
  color: var(--highlight-color, #f15641);
  font-size:16px;
  margin-left: 10px;
}


/*===========================
Classes & IDs
============================*/
.citibike-data {
  font-size: 115%;
  color: var(--data-color, #bcdbdc);
}

.big-bike-id {
  color: var(--highlight-color, #f15641);
}

#mainpagebluebike {
  float: right;
  width: 100%;
  height: auto;
  max-width: 600px;
}

#lookupbluebike {
  width: 100%;
  height: auto;
  max-width: 400px;
  position: absolute;
  bottom: 20px;
  right: 150px;
}

 #bikestatswheel {
  float: right;
  width: 100%;
  height: auto;
  max-width: 300px;
}

/*The spinner. This is an npm package called React Spinners.*/
.sweet-loading {
  margin: 10px;
  display: inline-block;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Small & Medium devices (768px and smaller) media query */
@media (max-width: 768px) {

  /* This overrides the hideous iOS default button & form style */
  textarea,
  input.text,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  .input-checkbox {
    -webkit-appearance: none;
    border-radius: 4px;
  }

  h1 {
    text-align: center;
  }

  span.big-bike-id {
    font-size: 130%;
    font-weight: bold;
  }

  .citibike-data {
    font-size: 125%;
    font-weight: bold;
  }


}
