/*Site Colors
very dark blue: #042862
dark blue: #052c6c;
light blue: #1c98e5;
bike illustration blue: #1884c7;
border-color: #063c93;
white: #fff;
light light blue: #d2e7e8;
light red: #f15641;
red: #ed2e15;
dark red: #bf220d;
*/

body {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #042862;
  color: rgb(255,255,255);
  max-width: 900px;
  font-size: 120%;
  line-height: 1.3;
  font-family: 'Tajawal', sans-serif;
}

h1 {
  color: #d2e7e8;
  padding: 0 0 10px 0;
  font-size: 150%;
  font-family: 'Chewy', cursive;
}

h2 {
  color: #d2e7e8;
  font-size: 120%;
}

/*The headings on the results page*/
h3 {
  color: #d2e7e8;
  font-size: 110%;
  margin-top: 30px;
  margin-bottom: -15px;
  border-bottom: 3px solid #063c93;
}
/*===================================================
Navigation
===================================================*/
#topnav {
  display: flex;
  /*list-style-type: none;*/
  padding: 0;
  margin-top: -10px;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-size: 90%;
  cursor: pointer;
}

#nav-item {
  display: flex;
  margin: 0px 15px 0px 0px;
  overflow: hidden;
}

#nav-item:hover {
  color: #f15641;
}

hr {
  border-top: 4px solid #063c93;
  border-color: #063c93;
}

/*===================================================
Links
===================================================*/
a {
  text-decoration: none;
  color: #1c98e5;
}

/* mouse over link */
a:hover {
  color: #d2e7e8;
}

/* selected link */
a:active {
  color: #c2dfe6;
}

/*===================================================
Buttons & Fields
===================================================*/
.button {
  background-color: #1c98e5;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  cursor: pointer;
}

.button:hover {
  background-color: #063c93;
}

input[type=number], select {
  font-size: 18px;
  /*width: 25%;*/
  padding: 10px 12px;
  margin: 3px 1px;
  display: inline-block;
  /*border: 0px solid #ccc;*/
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  margin-top: -10px;
  /*padding-top: -20px;*/
}

/*This class is added to the input if user chooses a bike without a ride history.*/
.no-trips-bike-id {
  border: 3px solid #f15641;
}

/* This is when user chooses a dud bike  */
.error_message {
  display: inline-block;
  color: #f15641;
  font-size:16px;
  margin-left: 10px;
  /*border-top: 10px;*/
}


/*===================================================
Classes & IDs
===================================================*/
.citibike-data {
  font-size: 115%;
  /*color: #d2e7e8;*/
  color: #d2e7e8;
  /*font-style: italic;*/
}

.big-bike-id {
/*  font-size: 110%;*/
  color: #f15641;
}

#mainpagebluebike {
  float: right;
  width: 100%;
  height: auto;
  max-width: 600px;
}

#lookupbluebike{
  width: 100%;
  height: auto;
  max-width: 400px;
  position: absolute;
  bottom: 20px;
  right: 150px;
}

 #bikestatswheel {
  float: right;
  width: 100%;
  height: auto;
  max-width: 300px;
}

/*The spinner. This is an nmp package.*/
.sweet-loading {
  margin: 10px 0;
}





